* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: space-around;
    align-items: flex-start ;
    margin: 6px;
}
.navbar ul {
    justify-content: flex-start;
}
.logo {
    font-size: 40px;
}
.mid {
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-start;
    padding-right: 50% ;
    margin-top: 16px;
    color: gray;
    font-size: large;
   
}
.mid ul li a {
    text-decoration: none;
    padding: 4px;
    color: gray;  
}
.mid ul {
    list-style:none;
}
.mid ul {
    display: flex;
    justify-content: space-around;
}
.btn {
    margin-top: 8px;
}
.b1 {
    font-size: 20px;
    color: black;
    border-color: aliceblue;
    background: white;
    gap: 10px;
    border-radius: 25%;
    padding: 5px;
    margin-right: 20px;
}
.b2 {
    color:black;
    background: rgb(253, 255, 253);
    font-size: 20px;
    border-color:    rgb(255, 255, 255);
    box-shadow : 20px; 
    gap: 10px;
    border-radius: 25%;
    padding: 5px;
    margin: 0px 0px 2px 0px;
}
.img2 {
    height: auto;
    width: 90%;
    background-position: center;
    padding-right: 30px;
}
