/* *{
    
    padding: 0px;
    box-sizing: border-box;
    margin: 3px;
    
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.middle {
    padding-left: 15%;
    
}
header {
    background-color: rgb(242, 242, 242);
}
.start {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.middle a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}

     */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width: 100%; */
}
.section {
    display: flex;
    padding: 8px;
    background-color: beige;
}
.one {
    width: 50%;
    margin-left: 10px;
}
.two {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    
}
.list {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
}
.link2  {
    font-size: 20px;
    background-color: beige;
    
}
.list a {
    text-decoration: none;
    justify-content: center;
    padding: 0px 6px;
    color: rgb(43, 43, 43);
    font-family:Arial, Helvetica, sans-serif;
}
.two button {
    /* border-radius: 0px 15px 0px 15px;
    padding: 8px; */
    display: flex; 
    text-decoration: none;
    border: hidden;
    padding-top: 9px;
    background-color: white;

    /* background-color: rgb(95, 95, 95); */       
}
.two button a {
    text-decoration: none;
    color: black;
    padding-top: 6px 5px 2px 0px;
}
.link2 img {
    width: 30px ;
    height: 30px;
    justify-content: center;
}
/* main */
.divider {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 4px 30px 0px;
}
.ideas {
    width: 50%;
    padding-left: 20px;
    margin-top: 21.5%;
    font-weight: 100;
    color: rgb(110, 110, 110);
    font-size: large;
}
.idea2 {
    width: 50%;
    margin-top: 10%;
    font-weight: lighter;

}
.idea2 .small {
    margin-top: 50px;
    width: 80%;
}
.idea2 .large {
    width: 65%;
    padding-bottom: 3px;
    font-size: 35px
}
.footer img {
    width: 100%;
    padding-top:10px ;
    display: flex;
}
.ft {
    position: absolute;
    padding-top: 90px;
    margin-left: 20px;
    font-size: 40px;
    width: 30%;
    color: white;
}
.ft2 {
    position: absolute;
    justify-content: flex-end;
    /* width: 100%; */
    margin-top: 20%;
    margin-left:80%;
    color: white;
    font-size: 20px;
    margin-right: 40px;
}
.icons {
    
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    /* object-fit: contain; */
    display:flex;
    background-color: grey;
    
}
.icons a {
    padding-right: 20px;   
}
.icons a img {
    width: 30px;
}
