body {
    background-color: rgb(27, 27, 27);
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 300px;
    height: 450px;
    background:rgb(51, 51, 51) ;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.img {
    width: 50px ;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    margin-top: 25px;
    left: 42.5%;
    display: flex;

}
.name {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    font-size: 16px;
    margin-bottom: -5px;
}
.lc {
    color: rgb(174, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom:-3px ;
    font-size: 10px;
}
.bio {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    font-size: 10px;
}
.list {
    margin-top: 30px;
}
.container a {
    color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    font-size: 10px;
    text-decoration: none;
    background-color: rgb(86, 86, 86);
    margin-left:45px ;    
    margin-right: 45px;
    padding: 10px;
    border-radius: 7px;
    margin-top: 15px;
    font-weight: 600;  
    transition: 0.2s;  
}
.container a:hover {
    background-color: rgb(110, 212, 0);
    transform: scale(1.05);
    color: black;
}
